<html>
  <style>
    html,
    body {
      height: 100%;
    }

    html {
      display: table;
      margin: auto;
    }

    body {
      display: table-cell;
      vertical-align: middle;
    }
    .bounce {
      animation: bounce 2s infinite;
      height: 460px;
      width: 500px;      
    }
    @keyframes bounce {
      0%,
      20%,
      50%,
      80%,
      100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
    }
  </style>
  <body>
    <img class="bounce" src="./imgs/nodesploit.png" alt="" />
  </body>
</html>
